.chatbox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}
.chat__header{
    width: inherit;
    background-color: rgb(248, 248, 248);
    height: 57.29px;
    border-bottom: 1px solid rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    user-select: none;
}
.chat__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ededed;
    border-top: 1px solid rgb(241, 241, 241);
    position: absolute;
    bottom: 0;
    height: 57.29px;
    width: 100%;
}
.avatar__chat__header img{
    width: 40px;
    border-radius: 100%;
    margin-left: 9px;
    margin-right: 20px;
    margin-top: 6px;
}
.chat_header_ico{
    width: 22px;
    margin: 0 9px;
    cursor: pointer;
}
.chat_header_ico1{
    width: 25px;
    margin: 0 9px;
    cursor: pointer;
}
.chat__header__logosec{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.chat__header__name{
    display: flex;
    flex-direction: column;
    width: 199px;
    margin-left: -5px;
}
.chat__header__name p{
    font-size: 11px;
    margin-top: 5px;
    color: #888888;
}
.chat__footer {
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
    padding-left: 3px;
}
.chat__footer input{
    width: 90%;
    background-color: white;
    height: 65%;
    outline: none;
    border: none;
    border-radius: 24px;
    padding-left: 10px;
    border:2px solid rgb(230, 230, 230);
    color: rgb(109, 109, 109);
}
@media screen and (max-width:420px){
    .chat__footer input{
        width: 80%;
    }
}

.messagebox{
    width: fit-content;
    max-width: 85%;
    padding:3px 15px;
    border-radius: 14px;
    position: relative;
    padding-bottom: 7px;
    margin-left: 7px;
}
.timestamp{
    font-size: 9.5px;
    left: 9px;
    user-select: none;
}
.authorof__msg{
    font-size: 11.5px;
    margin-left: 11px;
    font-weight: 700;
    color: #353535;
    margin-bottom: 5px;
    user-select: none;
}
.chat__body__message{
    font-size: 14px;
    color:gray;
    margin: 5px 0;
    margin-bottom: -2px;
}
.messageboxcont{
    margin-top: 19px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.chat__body{
    overflow-y: scroll;
    overflow-x:hidden;
    /* border: 2px solid red; */
    height:83%;
}
.chat__body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	border-radius: 10px;
    scroll-behavior: smooth;
}

.chat__body::-webkit-scrollbar
{
	height: 9px;
    width: 6px;
    background-color: transparent;
}

.chat__body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.3);
	background-color: rgb(177, 177, 177);
}
.file::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	border-radius: 10px;
    scroll-behavior: smooth;
}

.file::-webkit-scrollbar
{
	height: 3px;
    width: 3px;
    background-color: transparent;
}

.file::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.3);
	background-color: rgb(187, 187, 187);
}