.chatbox{
    flex: 2.5;
    height: 100%;
    background: url('../img/bg2.png') center;
}
.sidebarchat{
    display: flex;
    flex-direction: row;
    width: 88%;
    margin:  19px auto;
    border-bottom: 0.5px solid rgb(230, 230, 230);
    padding-bottom: 6px;
    cursor: pointer;
}
.avatarchat img{
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.sidebarchatInfo p{
    margin-top: 3px;
    font-size: 13px;
}