.leftbar{
    flex: 0.85;
    /* width: 25vw; */
    height: 100%;
    border-right: 2px solid rgb(230, 230, 230);
    background-color: rgb(250, 250, 250);
    margin: auto 0;
    user-select: none;
}
.leftbar__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 12px;
    align-items: center;
    background-color: #ededed;
    border-bottom: 2px solid rgb(230, 230, 230);
}
.leftbar_header_ico{
    width: 24.5px;
    margin: 0 9px;
    cursor: pointer;
}
.leftbar_header_ico1{
    width: 29.5px;
    margin: 0 9px;
    cursor: pointer;
}
.leftbar_header_ico2{
    width: 24.5px;
    height: 23px;
    margin: 0 9px;
    cursor: pointer;
}
.menus__header{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.avatar{
    display: flex;
    align-items: center;
}
.leftbar__search{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 92%;
    margin: auto;
    margin-top: 19px;
    height: 39px;
    align-items: center;
    border-radius: 19px;
    border:2px solid rgb(236, 236, 236);

}
.leftbar__search input{
    width: 92%;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(109, 109, 109);
}
.leftbarchats{
    height: 85%;
    overflow-y: scroll;
}
.leftbarchats::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	border-radius: 10px;
    scroll-behavior: smooth;
}

.leftbarchats::-webkit-scrollbar
{
	height: 9px;
    width: 6px;
    background-color: transparent;
}

.leftbarchats::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.3);
	background-color: rgb(177, 177, 177);
}
.chat__body{
    overflow-y: scroll;
    height: 82%;
}
.chat__body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	border-radius: 10px;
    scroll-behavior: smooth;
}

.chat__body::-webkit-scrollbar
{
	height: 9px;
    width: 6px;
    background-color: transparent;
}

.chat__body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.3);
	background-color: rgb(177, 177, 177);
}