.hamburger{
    position: absolute;
    z-index: 169;
    top:12px;
    left:12px;
    display: none;
}
@media screen and (max-width:700px){
    .leftbar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navbarmenu{
        margin-left: 34px;
    }
    .roomdetails{
        margin-left: 29px;
    }
    .chat__body__message{
        width: 90%;
    }
}
@media screen and (max-width:435px){
    .forbginput {
        width: 81%;
    }
}
.navbarmenu{
    height:49px;
    background-color:white;
    border-bottom:1px solid #eaeaea;
    display:flex;
    align-items:center;
    padding-left: 24px;
}