.hamburger {
    position: absolute;
    z-index: 169;
    top: 12px;
    left: 1.58em;
    display: none;
}


@media screen and (max-width:762px) {
    .leftbar {
        display: none;

    }

    .hamburger {
        display: block;
    }

    .navbarmenu {
        margin-left: 34px;
    }

    .roomdetails {
        padding-left: 42px;
    }

    .chat__footer {
        width: 91vw;
    }

    .messageboxcont {
        margin-left: 9px;
    }

    .imgboximg {
        width: 51px;
        height: 51px;
        border-radius: 40%
    }
}

@media screen and (max-width:762px) {
    .fontemmm {
        font-size: 0.85em;
        min-width: fit-content;
    }

    .tieemmm {
        font-size: 12px;
        width: 150px;
    }
}

.navbarmenu {
    height: 52px;
    border-bottom: 2px solid #201e1e;
    display: flex;
    align-items: center;
    padding-left: 35px;
    width: 100%;
}