.hamburger{
    position: absolute;
    z-index: 169;
    top:12px;
    left:12px;
    display: none;
}
@media screen and (max-width:762px){
    .leftbar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navbarmenu{
        margin-left: 34px;
    }
    .roomdetails{
        padding-left: 42px;
    }
    .chat__body__message{
        width: 90%;
    }
    .chat__footer {
        width:96vw;
    }
}
.navbarmenu{
    height:49px;
    background-color:white;
    border-bottom:1px solid #eaeaea;
    display:flex;
    align-items:center;
    padding-left: 35px;
    width: 100%;
}