.App {
  background-color: #dadbd3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__cont{
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 95vh;
  background-color: #ededed;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #bebebe;
  border-radius: 9px;
  overflow: hidden;
}