.App {
  /* background-image: url('./imgs/bg1.jpg');
  background-position: center; */
  /* background-color: rgb(37,35,41); */
  background-color: rgb(18, 15, 19);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
  color: white;
  -webkit-transition: all 0.15s;
}

.app__cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #bebebe;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width:420px) {
  .app__cont {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}